iframe {
  display: none;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.error {
  margin: 0;
  color: red;
  font-size: 10px;
}

.error__field {
  border: 2px solid red;

}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field__input {
  width: 250px;
}

.field__select {
  width: 150px;
}

.field__input, .field__select{
  margin-top: 10px;
  border-radius: 3px;
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #f00;
  }

  &--completed &__title {
    color: #080;
  }
}

.UserInfo {
  font-style: italic;
}
